.input_container {
	position: relative;
	background-color: red;
}
.input {
	// width: 100%;
	width: 48rem;
	height: 5.6rem;
	padding-left: 7rem;
	box-shadow: var(--box-shadow-1);
	border: none;
}

.search_icon {
	top: 2rem;
	left: 6%;
	color: var(--clr-search);
	position: absolute;
}

// / 760px 1024px
@media (max-width: 64em) {
	.input {
		width: 38rem;
	}
}
// 481px - 750px
@media (min-width: 30.1em) and (max-width: 46.875em) {
}

// 375 -480px
@media (max-width: 30em) {
	.input {
		width: 100%;
	}
}
